//<Шрифты по умолчанию>==========================================================================================
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;500;600;800&display=swap');
$fontFamily: 'Nunito', sans-serif;
$fontSize: 16px;
//</Шрифт по умолчанию>==========================================================================================
// $fontFamily2: "";
// $fontFamily3: "";
// $fontSize2: ;
// $fontSize3: ;
//</ШРИФТЫ>=======================================================================================================
//<ПЕРЕМЕННЫЕ>==========================================================================================================
$minWidth: 344px;
$maxWidth: 1376px;
$md1: 1376 + 64;
$md2: 900;


$violet: #7F61EA;
$red: #E82683;
$black: #3A3742;
$grey: #A29DB5;
$white: #FFFFFF;
$background: #AE9BF4;
$dividerColor: #DCDAE7;
$btnChangerInBasketBorder: #DCD9E7;